.card {
    background-color: rgba(255, 20, 147, 0.1);
    border: 1px solid rgba(255, 20, 147, 0.2);
    border-radius: 5px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    min-height: 300px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(
      to bottom,
      rgba(255, 20, 147, 0.05),
      rgba(255, 20, 147, 0.1)
    );
    padding: 1rem;
    color: #fff;
    flex-wrap: wrap;
    pointer-events: none; 
  }
  .card-img {
    height: 250px;
    object-fit: cover;
  }
  .card-img-overlay h5,
  .card-img-overlay p {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  
  /* Add the following CSS */
  .ingredients-scrollbar {
    max-height: 100px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .ingredients-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  
  .ingredients-scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .ingredients-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 20, 147, 0.6);
    border-radius: 5px;
  }
  