.flex-container {
    display: flex;
    display: block;
    text-align: center;
  }
  
  .flex-child-1 {
    flex: 1;
  }
  
  .flex-child-2 {
    margin-right: 20px;
    padding: 20px;
  }

  .span-block {
    width: 20px;
  }

  
