.hero {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero * {
  display: flex;
  justify-content: center;
  text-align: center;
  background-position: center;
  position: relative;
}

.heroH1 {
  text-align: center;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
  background-color: transparent;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.type-text {
  color: rgb(255, 255, 255);
  font-family: "Josefin Sans", sans-serif;
  background-color: transparent;
  font-size: 25px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
