.footer {
    background: 
    /* rgb(244, 216, 204); */
    #ff3a00;
    height: 50px;
    position: fixed;
    color: white;
    /* overflow: auto; */
    width: 100%;
    bottom: 0;
  }
  
  .footer > .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background:#fc8eac;
    padding: 8px;
    font-weight: 600;
  }
  
  .footer > .bottom > img {
    width: 20px;
    position: relative;
    top: 3px;
    left: 2px;
  }
  